<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379335396470-b8n2ls324a4cu7oku7b3jslfqevpc2g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379335396470-b8n2ls324a4cu7oku7b3jslfqevpc2g8</string>
	<key>API_KEY</key>
	<string>AIzaSyAPpAqJVkyvt09C_4TNLS2LNIFWeket5-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>379335396470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.Trekker</string>
	<key>PROJECT_ID</key>
	<string>trekker-e5e02</string>
	<key>STORAGE_BUCKET</key>
	<string>trekker-e5e02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379335396470:ios:8e28f93f9e4973a183e357</string>
	<key>DATABASE_URL</key>
	<string>https://trekker-e5e02.firebaseio.com</string>
</dict>
</plist>